<div class="post-promotion">
	<h2>Sosteniamoci</h2>
	<p>Se ti piace quello che leggi, sostieni il blog con i seguenti affiliate links. A te non costa nulla, a me motiva a continuare a scrivere.</p>
	<ul>
	<li><a target="_blank" href="https://sconto.prima.it/amico/767614489/Mgm">Prima Assicurazioni:</a> per RCA, casa e compagnia.</li>
	<li><a href="https://www.bbva.it/promo/passaparola.html" target="_blank">BBVA.</a> Buon conto.  Per 10€ regalo usa:  77660079210471</li>
	<li><a href="https://www.credit-agricole.it/invito?mgm=CAROPLAT111A">Conto Credit Agricole</a> che regala buoni Amazon cicciosi.</li>
	</ul>
</div>


<div class="podcast">
	<h2>Too Big To Fail</h2>
	Con <a target="_blank" href="https://finanzacafona.it/">Vittorio</a> e <a target="_blank" href="https://theitalianleathersofa.com/">Nicola</a> parliamo di finanza in modo leggero. Puoi ascoltarci su <strong><a href="https://open.spotify.com/show/6beSNv77mWZ0oL9LdW3JLp" target="_blank" rel="noreferrer noopener">Spotify</a></strong>, <strong><a href="https://podcasts.apple.com/it/podcast/too-big-to-fail/id1746169285" target="_blank" rel="noreferrer noopener">Apple Music</a></strong>, <strong><a href="https://music.amazon.it/podcasts/d313ef88-4dd5-4825-87f4-a5175d25a1f4/too-big-to-fail" target="_blank" rel="noreferrer noopener">Amazon Music</a></strong>, <a style="font-weight: bold;" href="https://youtu.be/MN04VLj-hMo" target="_blank" rel="noreferrer noopener">Youtube Music</a>, <strong><a href="https://www.deezer.com/show/1000929692" target="_blank" rel="noreferrer noopener">Deezer</a></strong>.
</div>
