<div class="post-promotion">
	<h2>Sosteniamoci</h2>
	Ehi, ho dei link affiliati! Tutta roba buona che uso in prima persona e che porta qualche soldo in casa... Così posso spendere il mio tempo predicando!
	<ul>
	<li><a href="http://sconto.prima.it/amico/003546423/Alain_Caltieri">Prima Assicurazioni</a> è la compagnia che ho scelto per la RCA mia e dei parenti consenzienti. Facci un preventivo e valuta da te.</li>
	<li><a href="americanexpress.com/it-it/referral/payback-credit?ref=aLaINCDPHf&XL=MIANS">American Express Payback</a> regala soldi a chi si iscrive. Scegli l'opzione di pagamento <b>a saldo</b> ed hai una carta di credito gratuita. Dacci un occhio.</li>
	</ul>
</div>
