---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

.page-image img {
    width: auto;
    max-height: 600px;
}

html {
    font-size: 1.2em;
}

img + em {
    // Image caption
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: gray;
    font-size: 1.0em;
}

div.post-promotion {
    font-size: 1.0em;
    color: #888
}
